<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'head.html' %}
    <body class="bg-primary">
        {% include 'navbar.html' %}
        <div id="about-me" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">About Me</h1>
            <p class="text-large">Sophomore year student at University of Indonesia, majoring in Computer Science. Intrested in software engineering (back-end). I am eager to learn new thing. Currently learning web-development.</p>
        </div>        
    </body>
</html>