<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'head.html' %}
    <body class="bg-primary">
        {% include 'navbar.html' %}
        <div id="achievements" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">Achievements</h1>
            <div>
                <div class="d-flex justify-content-center flex-row">
                    <img class="rounded-circle" src="{%static 'img/OSN.jpg' %}" alt="OSN" width="45px">
                    <h4>Bronze medalist - Indonesian National Science Olympiad in Informatics</h5>
                </div>
                <h3>- 2017</h3>
                <p>
                    Awarded for Bronze Medal (21st) out of 76 participants.
                </p>
            </div>
            <div>
                <div class="d-flex justify-content-center flex-row">
                    <img class="rounded-circle" src="{%static 'img/PCR.png' %}" alt="PCR" width="45px">
                    <h4>Silver medalist - Information Technology Olympiad 6, Politeknik Caltex Riau</h5>
                </div>
                <h3>- 2017</h3>
                <p>
                    Second place at Competitive Programming category
                </p>
            </div>
            <div>
                <div class="d-flex justify-content-center flex-row">
                    <img class="rounded-circle" src="{%static 'img/MIPAEXPO.png' %}" alt="MIPAEXPO" width="45px">
                    <h4>Bronze medalist - MIPA EXPO, University Of Riau</h5>
                </div>
                <h3>- 2017</h3>
                <p>
                    Awarded bronze medal in Competitive Programming category.
                </p>
            </div>
        </div>
    </body>
</html>