<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'head.html' %}
    <body onload="getAPOD()" class="bg-primary">
        {% include 'navbar.html' %}
        <div id="bonus" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">Bonus: NASA APOD</h1>
            <div id="apod"></div>
        </div>
    </body>
</html>