<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'head.html' %}
    <body class="bg-primary">
        {% include 'navbar.html' %}
        <div id="contact-me" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">Contact me</h1>
            <a href="mailto:aulia.aa.akbar@gmail.com" class="d-flex justify-content-center flex-row pt-3 pb-3 text-dark">
                <img src="{%static 'img/gmail.png' %}" alt="gmail" width="45px">
                <h3 class="font-weight-bold">aulia.aa.akbar@gmail.com</h3>
            </a>
            <a href="https://www.linkedin.com/in/MAuliaAkbar" class="d-flex justify-content-center flex-row pt-3 pb-3 text-dark">
                <img src="{%static 'img/linkedin.png' %}" alt="linkedin" width="45px">
                <h3 class="font-weight-bold">linkedin.com/in/MAuliaAkbar</h3>
            </a>
            <a href="https://www.instagram.com/xerdiosa/" class="d-flex justify-content-center flex-row pt-3 pb-3 text-dark">
                <img src="{%static 'img/instagram.png' %}" alt="IG" width="45px">
                <h3 class="font-weight-bold">@xerdiosa</h3>
            </a>
        </div>        
    </body>
</html>