<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'head.html' %}
    <body class="bg-primary">
        {% include 'navbar.html' %}
        <div id="experiences" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">Experiences</h1>
                <div class="mt-3 mb-3 pt-3 pb-3">
                    <h2 class="font-weight-bold">Academic experiences</h2>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img src="{%static 'img/uwiw.png' %}" alt="UI" width="45px">
                            <h4>Computer Science Student - University of Indonesia</h5>
                        </div>
                        <h3>- 2018-present</h3>
                        <p>
                            I study Computer Science and currently intrested in software engineering.
                        </p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img class="rounded-circle" src="{%static 'img/SMANDEL.jpg' %}" alt="SMAN8" width="45px">
                            <h4>Natural Science Student - SMAN 8 PEKANBARU</h5>
                        </div>
                        <h3>- 2015-2018</h3>
                        <p>
                            I study and start learing programming, i also became mentor at Computer Science club.
                        </p>
                    </div>
                </div>
                <div class="mt-3 mb-3 pt-3 pb-3">
                    <h2 class="font-weight-bold">Work experiences</h2>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img class="rounded-circle" src="{%static 'img/CF11.jpg' %}" alt="COMPFEST" width="45px">
                            <h4>Staff of Capture the Flag - COMPFEST 11</h5>
                        </div>
                        <h3>- February 2019-September 2019</h3>
                        <p>
                            I learn about Capture The Flag and create problems for participant.
                        </p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img src="{%static 'img/uwiw.png' %}" alt="UI" width="45px">
                            <h4>Teaching Assistant - University of Indonesia</h5>
                        </div>
                        <h3>- August 2019-Present</h3>
                        <p>
                            I tutored and grade 14 students for Foundation of Programming 1 at University of Indonesia, Faculty of Computer Science.
                        </p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img class="rounded-circle" src="{%static 'img/sirclo.jpg' %}" alt="SIRCLO" width="45px">
                            <h4>Software engineering intern - SIRCLO</h5>
                        </div>
                        <h3>- June 2019-August 2019</h3>
                        <p>
                            Here, i learn back-end software engineering firsthand using GO. I was assinged to a mentor and given various task that will train my skills.
                        </p>
                    </div>
                </div>
        </div>
    </body>
</html>