<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Profil Akbar</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{%static 'css/index.css' %}" media="screen">
    <script type="text/javascript" src="{%static 'js/index.js' %}"></script>
</head>