<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'head.html' %}
    <body class="bg-primary">
        {% include 'navbar.html' %}
        <div id="home" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <img class="rounded-circle" src="{%static 'img/photo.png' %}" alt="failed" width="13%">
            <h1 class="mt-4 font-weight-bold">Hello, im Akbar!</h1>
            <button type="button" onclick="window.location.href='../about-me'" class="btn btn-lg btn-dark text-primary mt-5 mb-5">Explore!</button>
        </div>
    </body>
</html>