<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'head.html' %}
    <body class="bg-primary">
        {% include 'navbar.html' %}
        <div id="home" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <img class="rounded-circle" src="{%static 'img/photo.png' %}" alt="failed" width="13%">
            <h1 class="mt-4 font-weight-bold">Hello, im Akbar!</h1>
            <button type="button" onclick="window.location.href='#about-me'" class="btn btn-lg btn-dark text-primary mt-5 mb-5">Explore!</button>
        </div>
        <div id="about-me" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">About Me</h1>
            <p class="text-large">Sophomore year student at University of Indonesia, majoring in Computer Science. Intrested in software engineering (back-end). I am eager to learn new thing. Currently learning web-development.</p>
        </div>
        <div id="experiences" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">Experiences</h1>
                <div class="mt-3 mb-3 pt-3 pb-3">
                    <h2 class="font-weight-bold">Academic experiences</h2>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img src="{%static 'img/uwiw.png' %}" alt="UI" width="45px">
                            <h4>Computer Science Student - University of Indonesia</h5>
                        </div>
                        <h3>- 2018-present</h3>
                        <p>
                            I study Computer Science and currently intrested in software engineering.
                        </p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img class="rounded-circle" src="{%static 'img/SMANDEL.jpg' %}" alt="SMAN8" width="45px">
                            <h4>Natural Science Student - SMAN 8 PEKANBARU</h5>
                        </div>
                        <h3>- 2015-2018</h3>
                        <p>
                            I study and start learing programming, i also became mentor at Computer Science club.
                        </p>
                    </div>
                </div>
                <div class="mt-3 mb-3 pt-3 pb-3">
                    <h2 class="font-weight-bold">Work experiences</h2>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img class="rounded-circle" src="{%static 'img/CF11.jpg' %}" alt="COMPFEST" width="45px">
                            <h4>Staff of Capture the Flag - COMPFEST 11</h5>
                        </div>
                        <h3>- February 2019-September 2019</h3>
                        <p>
                            I learn about Capture The Flag and create problems for participant.
                        </p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img src="{%static 'img/uwiw.png' %}" alt="UI" width="45px">
                            <h4>Teaching Assistant - University of Indonesia</h5>
                        </div>
                        <h3>- August 2019-Present</h3>
                        <p>
                            I tutored and grade 14 students for Foundation of Programming 1 at University of Indonesia, Faculty of Computer Science.
                        </p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center flex-row">
                            <img class="rounded-circle" src="{%static 'img/sirclo.jpg' %}" alt="SIRCLO" width="45px">
                            <h4>Software engineering intern - SIRCLO</h5>
                        </div>
                        <h3>- June 2019-August 2019</h3>
                        <p>
                            Here, i learn back-end software engineering firsthand using GO. I was assinged to a mentor and given various task that will train my skills.
                        </p>
                    </div>
                </div>
        </div>
        <div id="achievements" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">Achievements</h1>
            <div>
                <div class="d-flex justify-content-center flex-row">
                    <img class="rounded-circle" src="{%static 'img/OSN.jpg' %}" alt="OSN" width="45px">
                    <h4>Bronze medalist - Indonesian National Science Olympiad in Informatics</h5>
                </div>
                <h3>- 2017</h3>
                <p>
                    Awarded for Bronze Medal (21st) out of 76 participants.
                </p>
            </div>
            <div>
                <div class="d-flex justify-content-center flex-row">
                    <img class="rounded-circle" src="{%static 'img/PCR.png' %}" alt="PCR" width="45px">
                    <h4>Silver medalist - Information Technology Olympiad 6, Politeknik Caltex Riau</h5>
                </div>
                <h3>- 2017</h3>
                <p>
                    Second place at Competitive Programming category
                </p>
            </div>
            <div>
                <div class="d-flex justify-content-center flex-row">
                    <img class="rounded-circle" src="{%static 'img/MIPAEXPO.png' %}" alt="MIPAEXPO" width="45px">
                    <h4>Bronze medalist - MIPA EXPO, University Of Riau</h5>
                </div>
                <h3>- 2017</h3>
                <p>
                    Awarded bronze medal in Competitive Programming category.
                </p>
            </div>
        </div>
        <div id="contact-me" class="container-fluid text-center pt-5 pb-5 mt-5 mb-5">
            <h1 class="mt-4 font-weight-bold">Contact me</h1>
            <a href="mailto:aulia.aa.akbar@gmail.com" class="d-flex justify-content-center flex-row pt-3 pb-3 text-dark">
                <img src="{%static 'img/gmail.png' %}" alt="gmail" width="45px">
                <h3 class="font-weight-bold">aulia.aa.akbar@gmail.com</h3>
            </a>
            <a href="https://www.linkedin.com/in/MAuliaAkbar" class="d-flex justify-content-center flex-row pt-3 pb-3 text-dark">
                <img src="{%static 'img/linkedin.png' %}" alt="linkedin" width="45px">
                <h3 class="font-weight-bold">linkedin.com/in/MAuliaAkbar</h3>
            </a>
            <a href="https://www.instagram.com/xerdiosa/" class="d-flex justify-content-center flex-row pt-3 pb-3 text-dark">
                <img src="{%static 'img/instagram.png' %}" alt="IG" width="45px">
                <h3 class="font-weight-bold">@xerdiosa</h3>
            </a>
        </div>
    </body>
</html>
