<nav id="navbar"class="navbar navbar-expand-lg navbar-expand-sm bg-dark fixed-top">
    <a class="navbar-brand" href="../">akbar-profile</a>
        <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="../about-me">About Me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../experiences">Experiences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../achievements">Achievements</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../contact-me">Contact Me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../apod">Bonus</a>
    </li>
    </ul>
</nav>